<ul class="collection with-header ">
    <li class="collection-header center row">
        <h4><strong>TODO's List</strong></h4>
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input type="text" placeholder="Search" ng-model="findTodo">
        </div>
    </li>
    <li class="collection-item" ng-repeat="todo in ctrl.todos | filter : findTodo">
        <a href="javascript:void(0);" style="background-color : {{todo.color}}; " class="material-icons tiny btn-floating" ng-click="ctrl.openEditModal(todo);"></a>
        <strong> {{todo.name}}</strong>
        <a href="javascript:void(0);" class="secondary-content padding-edit-button" ng-click="ctrl.openDetailModal(todo);"><i class="material-icons">edit</i></a>
        <a href="javascript:void(0);" class="secondary-content padding-edit-button" ng-click="ctrl.deleteTodo(todo);"><i class="material-icons">delete</i></a>
    </li>
</ul>

<div class="fixed-action-btn">
    <a href="javascript:void(0);" class="btn-floating btn-large blue-grey">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li>
            <my-todo-create-modal-btn todo-modal-id="createModal" classes="btn-floating green">
                <i class="material-icons">add</i>
            </my-todo-create-modal-btn>
        </li>
    </ul>
</div>


<my-todo-create-modal todo-modal-id="createModal" on-success="ctrl.refreshList()"></my-todo-create-modal>
<my-todo-edit-color-modal edit-color-modal-id="editModal" my-todo="ctrl.todoToEditColor" on-success="ctrl.refreshList()"></my-todo-edit-color-modal>
<my-todo-detail-modal detail-modal-id="detailModal" my-todo-id="ctrl.todoToDetailId" on-success="ctrl.refreshList()"></my-todo-detail-modal>


