<ul class="collection with-header container">
    <li class="collection-header center">
        <h4><strong>TODO's List</strong></h4>
        <input type="text" placeholder="Search" ng-model="findTodo">
    </li>
    <li class="collection-item" ng-repeat="todo in ctrl.todos | filter : findTodo">
        <i class="material-icons {{todo.color}} waves-circle tiny ">circle</i>
        <strong> {{todo.name}}</strong>
        <a href="" class="secondary-content "><i class="material-icons">edit</i></a>
    </li>
</ul>
