<nav>
    <div class="nav-wrapper blue-grey">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#/">Home</a></li>
            <li><a href="#/todo">Tasks to Do</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="#/" ng-click="ctrl.logout()">Logout</a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li><a href="#/">Home</a></li>
            <li><a href="#/todo">Tasks to Do</a></li>
        </ul>
    </div>
</nav>